body {
  margin: 0;
  padding: 0;
  appearance: none;
}
.hidden {
  position: fixed;
  transform: scale(0);
  display: none;
  
}
.pop-up {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 99;
}
.pop-up::after {
  padding: 0px;
  margin: 0px;
  border: 0px;
  box-sizing: border-box;

}
.pop-up-form {
  position: fixed;
  top: 40vh;
  left: 50vw;
  transform: translate(-50%, -40%);
  width: 390px;
  padding: 45px 20px;
  background-color: #ffffff;
}
.close {
  width: 17px;
  height: 17px;
  position: absolute;
  top: -25px;
  right: 0;
  background-image: url(../svg/form-x.svg);
  content: "";
}
.side-bar-title.pop-up-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 0;
}
.side-bar-title {
  position: relative;
  margin: 0 0 20px 0;
  text-align: center;
  color: #0f0d0e;
}
.pop-up-text {
  margin-top: 30px;
  font-size: 13px;
  display: block;
}
.pop-up-select {
  width: 100%;
  height: 45px;
  margin-top: 10px;
  padding-left: 20px;
  color: #707171;
  background-color: #f4f7f6;
  background-image: url(../svg/form-arrows.svg);
  background-repeat: no-repeat;
  background-size: 8px;
  background-position: 98% 50%;
  appearance: none;
}
.radio-label {
  margin-top: 12px;
}
.radio-input {
  display: none;
}
.choice-text {
  font-size: 13px;
}
.comment {
  font-family: inherit;
  font-size: 13px;
  width: 100%;
  height: 130px;
  margin-top: 10px;
  padding-top: 10px;
  box-sizing: border-box;
  background-color: #f4f7f6;
  resize: none;
}
.button-feedback {
  width: 100%;
  height: 45px;
  margin-top: 25px;
  color: #ffffff;
  font-weight: bold;
  text-transform: uppercase;
  background-color: #b59f5b;
}

@font-face {
  font-family: "OpenSans", sans-serif;
  src: url("https://netology-code.github.io/html-2-diploma/sources/fonts/OpenSans-Regular.woff");
  font-style: normal;
  font-display: swap;
}
.header-logo-image {
  width: 180px;
}
.header-menu-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.header-menu-link {
  text-decoration: none;
  color: inherit;
}
.header {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/banner-bg.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  padding: 30px 0;
  color: #ffffff;
}
.header::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.5);
}
.header-position {
  position: relative;
  z-index: 1;
}
.menu-list {
  list-style: none;
  display: flex;
  align-items: center;
  font-size: 24px;
  line-height: 8px;
  color: #fffffa;
  z-index: 1;
}
.header-wrapper {
  width: 1200px;
  padding: 0 15px;
  margin: auto;
}
.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-menu-list {
  display: flex;
  margin: 0;
}
.header-title {
  margin: auto;
  max-width: 690px;
  font-size: 3.4vw;
  text-align: center;
  text-transform: uppercase;
  padding: 90px 0 150px 0;
  line-height: 1.5;
}
.header-menu-item:not(:first-child) {
  margin-left: 45px;
}
.header-menu-link {
  text-transform: uppercase;
  font-size: 14px;
}
@media (min-width: 641px) and (max-width: 1199px) {
  .header-wrapper {
    width: 1120px;
    padding: 0 15px;
    margin: auto;
  }
  .header-burger-button {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 1px;
    row-gap: 30px;
  }
  .burger {
    visibility: visible;
    margin-right: 20px;
    position: absolute;
    top: 20px;
    right: 35px;
    width: 17px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
    /*visibility: hidden;*/
  }
  .burger::before {
    top: -5px;
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .burger::after {
    top: 5px;
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
  }
}
@media (min-width: 641px) and (max-width: 1199px) {
  .header-wrapper {
    width: 700px;
    padding: 0 15px;
    margin: auto;
  }
  .header {
    
    background-image: url("../images/banner-bg-tablet.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
  
  }
  .header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header-title {
   
    width: 500px;
    height: 90px;
    font-size: 4.1vw;
    text-align: center;
    text-transform: uppercase;
    line-height: 1.5;
  }
  .header-menu-list {
    display: none;
  }
  .trends-title {
  text-align: center;
  margin: 50px;
  position: relative;
  text-transform: uppercase;
}
.trends-title::after {
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  margin-top: 40px;
  margin-left: -150px;
  position: absolute;
}
}
@media (min-width: 641px) /*and (max-width: 1199px)*/  { 

.trends {
 /* max-width: 641px;*/
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 15px;
}
}
.trend-card {
  width: 100%;
}

.trend__box-interior {
  background-image: url("../images/trend1.jpg");
  background-repeat: no-repeat;
  grid-row: span 2;
}
.trend__box-food {
  background-image: url("../images/trend2.jpg");
  background-repeat: no-repeat;
  grid-row: span 2;
}
.trend__box-travel {
  background-image: url("../images/trend3.jpg");
  background-repeat: no-repeat;
  grid-row: span 2;
}
.trend__box-health {
  background-image: url("../images/trend4.jpg");
  background-repeat: no-repeat;
  grid-row: span 2;
}
.nav-trend {
  display: flex;
  align-items: flex-end;
  list-style: none;
  padding: 25px;
  margin: 18px;
  border: 2px solid #b59f5b;
  position: relative;
}
.nav-trend-link {
  font-weight: 700;
  text-decoration: none;
  color: #b59f5b;
}
.trand__name {
  display: flex;

  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  list-style-type: none;
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait){
  .trends {
    width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 15px;
   
 }
  .trend-card {
    height: 320px;
    
   }
  
  .main__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
     
  }
}
@media (min-width: 641px) and (max-width: 1199px)  {
  .main__container {
    display: grid;
    grid-template-columns: 1fr 272px;
    width: 100%;;
    position: relative;
    margin-right: 10px;
    z-index: 2;
  }
  .box {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 640px) and (orientation: landscape) {
  .trends {
    width: 100%;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: repeat(2, 1fr);
   gap: 15px;
   
 }
  .trend-card {
    height: 320px;
   }
}
@media (max-width: 640px) and (orientation: portrait) {
  .header-wrapper {
    width: 330px;
    padding: 0 15px;
    margin: auto;
  }
  .header {
    width: 100%;
    height: 640px;
    background-image: url("../images/banner-mobile.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    position: relative;
    padding: 30px 0;
    color: #ffffff;
  }
  .header::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #000000;
    background-color: rgba(0, 0, 0, 0.5);
  }
  .header-menu-list {
    display: none;
  }
  .header-logo-image {
    width: 265px;
    margin-top: 225px;
    margin-left: 40px;
  }
  .header-title {
    width: 250px;
    font-size: 5.5vw;
    text-align: center;
    line-height: 30px;
  }
  .header-burger-button {
    display: flex;
    flex-direction: column;
    width: 25px;
    height: 1px;
    row-gap: 30px;
  }
  .burger {
    visibility: visible;
    margin-right: 20px;
    position: absolute;
    top: 20px;
    right: 35px;
    width: 17px;
    height: 2px;
    background-color: #ffffff;
    border-radius: 10px;
    
  }
  .burger::before {
    top: -5px;
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .burger::after {
    top: 5px;
    content: "";
    display: block;
    position: absolute;
    width: 17px;
    height: 2px;
    border-radius: 10px;
    background-color: #ffffff;
  }
  .trends-title {
    text-align: center;
    margin: 40px;
    position: relative;
    text-transform: uppercase;
  }
  .trends-title::after {
    content: "";
    background-color: #e1d9bd;
    width: 65px;
    height: 3px;
    margin-top: 40px;
    margin-left: -150px;
    position: absolute;
  }
  .trends {
    min-width: 360px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(1, 230px);
    gap: 15px;
  }
  .trend-card {
    height: 320px;
    
   }
   .main__container {
    display: flex;
    flex-direction: column;
   }
   .main__box {
    display: flex;
    flex-direction: column;
    gap: 30px;
     
  }
  .box {
    display: flex;
    flex-direction: column;
  }
}
 .main__container {
  display: flex;
  box-sizing: border-box;
  position: relative;
  max-width: 1170px;

  margin: 0 auto;
  padding: 0 14px;
  z-index: 2;
}
.main__box {
  display: flex;
  flex-direction: column;
  gap: 60px;
  max-width: 778px;

  margin: 0 0 0 avto;
  padding-top: 60px;
}
.box {
  display: flex;
  justify-content: space-between;
}
.nav {
  padding: 0 24px;
}
.category-box-item {
  color: #b59f5b;
  font-size: 14px;
  text-transform: uppercase;
  word-spacing: 15px;
  margin-top: 0px;
}
.category-box-link {
  font-weight: 700;
  text-decoration: none;
  font-weight: bold;
  font-size: 14px;
  color: inherit;
}
.category-box-link:hover {
  color: #d4d3cf;
}
.card__name {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 25px;
}
.card__date {
  font-weight: 400;
  color: #909090;
  margin-right: 15px;
  font-size: 14px;
}
.author {
  font-weight: 700;
  font-size: 14px;
}
.text {
  
  font-weight: 400;
  font-size: 14px;
  word-spacing: 1px;
  line-height: 1.4;
  margin-top: 44px;
}
.nav {
  list-style-type: none;
}
.aside {
  display: flex;
  justify-content: start;
  gap: 22px;
  width: 272px;
  height: avto;
  margin-left: 20px;
  margin-top: 60px;
}
.post__image {
  display: flex;
  flex-direction: column;
  width: 70px;
  gap: 22px;
}
.post {
  display: flex;
  flex-direction: column;
  width: 180px;
}
.content__post-item {
  display: flex;
  justify-content: space-between;
}
.new__post-title {
 
  font-weight: 700;

  text-align: center;
  margin-bottom: 45px;
  position: relative;
}
.aside__new__post {
  width: 270px;
}
.new__post-title::after {
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  top: 35px;
  left: 105px;
  position: absolute;
}
.new__post-date {
  color: #878787;
}
.new__post-name {
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.search__form {
  margin-top: 10px;
  margin-bottom: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 0;
}
.field__text {
  min-width: 225px;
  height: 52px;
  font-size: 13px;
  padding-left: 13px;
  background-color: #f4f7f6;
}
.content__search {
  border: 0;
}
.search {
  border: none;
}

.search__button {
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/search.svg");
  background-color: #b59f5b;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 15px;
  width: 50px;
  height: 50px;
  border: 0;
}
.search__button:hover {
  background-color: #f0e3b9;
  cursor: pointer;
}
.aside__newsletter {
  text-align: center;
  margin-bottom: 60px;
}
.newsletter__title {
  
  font-weight: 700;

  font-size: 14px;
  text-transform: uppercase;
  margin: 0 auto;
  position: relative;
}
.newsletter__title::after {
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;

  left: 105px;
  position: absolute;
  margin-top: 30px;
}
.newsletter__form {
  min-width: 270px;
  height: 50px;
  font-size: 13px;

  background-color: #f4f7f6;
  margin: 50px auto 15px;
  outline: none;
}
.email__button {
  min-width: 270px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #b59f5b;
  margin-top: 60px;
  border: none;
}
.email {
  border: none;
}
.email__button:hover {
  background-color: #f0e3b9;
  cursor: pointer;
}
.aside__sidebar__tags {
  text-align: center;
  text-transform: uppercase;
  width: 270px;
}
.sidebar__tags-title {
  font-weight: bold;
  font-size: 14px;
  position: relative;
  margin-bottom: 40px;
  margin-top: 120px;
}
.sidebar__tags-title::after {
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  top: 25px;
  left: 105px;
  position: absolute;
}
.sidebar__tags-group {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  width: 270px;
  gap: 5px;
  padding: 0;
}
.sidebar__tags-items {
  box-sizing: border-box;
  width: 85px;
  border: 3px solid #eeeeee;
}
.sidebar__tags-links {
 
  font-weight: 700;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  color: inherit;
}
.sidebar__tags-links:hover {
  color: #d4d3cf;
}
.aside__sidebar__topics {
  margin-top: 60px;
  width: 270px;
  text-align: center;
}
.sidebar__topics-title {
  margin-bottom: 20px;
  position: relative;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}
.sidebar__topics-title::after {
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  top: 25px;
  left: 105px;
  position: absolute;
}
.sidebar__topics-group {
  display: block;
  list-style-type: none;
  text-align: left;
  width: 100%;
}
.sidebar__topics-items {
  font-weight: bold;
  font-size: 14px;
  border-bottom: 1px solid #eeeeee;
  padding-top: 15px;
  padding-bottom: 15px;
}
.sidebar__topics-links {
 
  font-weight: 700;
  text-decoration: none;
  color: inherit;
}
.sidebar__topics-links:hover {
  color: #999790;
}
.topics__amount {
  color: #b59f5b;
  vertical-align: super;
}
.shop {
  max-width: 1120px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin: auto;
}
@media (min-width: 641px) and (max-width: 1199px)  {
  .shop {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    margin-left: 35px;
  }
}
 @media (min-width: 360px) and (max-width: 640px) {
  .shop {
  max-width: 330px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 40px;
  }
}
.shop-title {
  width: 200px;
  display: flex;
  margin: 50px auto;
  font-size: 20px;
  text-transform: uppercase;
}
.shop-title::after {
  content: "";
  background-color: #e1d9bd;
  width: 65px;
  height: 3px;
  margin: 35px;
  position: absolute;
}


.old-price {
  text-decoration: line-through;
}
.price {
  display: flex;
}

.button {
  width: 140px;
  height: 50px;
  font-weight: bold;
  font-size: 14px;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #b59f5b;
  border: none;
  position: relative;
  margin-left: 150px;
  margin-top: -30px;
}
.shop-text-item {
  width: 340px;
  height: 260px;
  box-sizing: border-box;
  padding: 20px;
  border: 2px solid #b59f5b;
  
  position: relative;
  margin-top: -35px;
  margin-left: -20px;
}
.shop-links {
  font-weight: 700;
  text-decoration: none;
  color: #b59f5b;
}
.spop-name-text {
  margin: 40px;
}

.footer {
  margin-top: 60px;
}

.footer-wrapper {
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
  box-sizing: border-box;
}
@media (min-width: 361px) and (max-width: 767px) and (orientation: portrait) {
.footer-wrapper {
  width: 100%;
}
}
.address {
  
  background-color: #f4f7f6;
  padding: 30px 0;
}

.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-list-item:not(:first-child) {
  margin-left: 20px;
}

.footer-list-link-dribbble {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/001-dribbble.svg");
}
.footer-list-link-pinterest {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/002-pinterest.svg");
}
.footer-list-link-tumblr {
  display: block;
  width: 24px;
  height: 24px;
  background-image: url("https://netology-code.github.io/html-2-diploma/sources/images/social/003-tumblr.svg");
}

.footer-copyright {
  margin: 60px 0;
  text-align: center;
}
